@import 'mixin'

#header
    font-family: $font_familyMark
    .height_lang
        height: auto
    .fa-bars
        font-size: 40px
        font-weight: 100
        color: $greenA400
    
    .js_language
        position: relative
        &:before
            position: absolute
            right: 0
            top: 5px
        li  
            width: 36px
            height: 36px
            cursor: pointer
        .en_lan
            position: absolute
            top: 30px
            z-index: 9
            display: none
        .ru_lan
            position: absolute
            top: 60px
            z-index: 9
            display: none
    .active_lang
        li
            display: block !important
    h3 
        @include text_style(18px, $font_familyRoboto, $greey800 - 20, 900, 1.15, 0.03em) 
button.fa
    @include text_style(16px, $font_familyMark, $greey800, 900, 1.875) 
    text-transform: uppercase
    position: relative 
    border: none
    background-color: transparent
    cursor: pointer

    img  
        position: absolute
        left: -22px
        top: 5px
   
button.fa_plus 
    color: $greenA400

