#header
    font-family: MarkPro
    ul
        position: relative
        &:before
            position: absolute
            right: 0
            top: 5px
        li  
            // display: none
            width: 36px
            height: 36px
            cursor: pointer
            
        .az_lan
            background-image: url('../image/flagaz.png')
            background-repeat: no-repeat
        .en_lan
            background-image: url('../image/flagaz.png')
            background-repeat: no-repeat
            position: absolute
            top: 30px
            z-index: 9
            display: none
        .ru_lan
            background-image: url('../image/flagaz.png')
            background-repeat: no-repeat
            position: absolute
            top: 60px
            z-index: 9
            display: none
    h3 
        font-size: 18px
        font-weight: bold
    a.fa
        font-size: 16px
        font-family: MarkPro
        text-transform: uppercase
        line-height: 1.875
        color: rgb(82, 82, 82)
        position: relative
        font-weight: bold
        img  
            position: absolute
            left: -22px
            top: 4px
   
    a.fa_plus 
        color: #83bc00

