@import 'mixin'

#main_body
    .close_nav
        span
        color: white
        font-size: 65px
        font-weight: 400
        opacity: 1
        cursor: pointer
    .main_navbar
        ul  
            width: 100% 
            li 
                @include text_style(16px, $font_familyMark, $color1, 900,  1.875, -0.04em ) 
                text-transform: uppercase
                cursor: pointer
                width: 100%
                &:hover
                    color: $greenA400
    .owl-carousel
        .owl-dots
            position: absolute
            right: -16.3%
            top: 40%
            transform: rotate(90deg)
            .owl-dot.active
                span
                    background-color: rgba(0, 179, 227, 0.8)
        .doctor_benefits , .user_benefits
            .circle_par
                position: relative
                &:before
                    content: " "
                    position: absolute
                    z-index: 0 
                    background: red
                    width: 100px
                    height: 100px
                    border-radius: 50%
                    top: 25px
                    left: 0px
                .main_paragraph
                    position: relative
                    font-weight: 800
                    letter-spacing: 0
                    z-index: 1
            .user_par
                height: 110px
                border-radius: 5px
                p
                    text-align: center
                    color: white
                    font-weight: 700
            .user_par_1
                background-color: $greenA700
            .user_par_2
                background-color: $orange700
            .user_par_3
                background-color: $blue500
            .circle_par_1
                    &:before
                        background-color: $blue500
            .circle_par_2
                    &:before
                        background-color: $orange700
            .circle_par_3
                    &:before
                        background-color: $greenA700
            .user_text
                min-height: percentage( 210px/ 368px)
            .doctor_text, .user_text
                border-bottom: 3px solid $blue500
                overflow: hidden
                height: percentage( 200px / 368px)
                .smple_par
                    letter-spacing: -0.05em 
                    b
                        font-weight: 900
                        color: $color2 - 20
            .doctor_text_2, .user_text_2
                border-bottom-color: $orange700
            .doctor_text_3, .user_text_1
                border-bottom-color: $greenA700
        .our_mission
            .our_mission_div
                border-radius: 5px
                box-shadow: 0px 10px 40px 0px $shadow
                height: 122px 
                p
                    @include text_style(22px, $font_familyMark, white, 500,  1.2, -0.04em ) 
                img
                    width: auto
            .our_mission_div1
                background-color: $greenA600
            .our_mission_div2
                background-color: $blue700
            .our_mission_div3
                background-color: $purple700
            .our_mission_div4
                background-color: $amber700
            .smple_par
                color: #ffffff
        .supported_param
            .sp_image
                height: 100px
            .smple_par
                text-align: center
                padding: 0 14px
    .active_nav
        transform: translateX(0)
        opacity: 1
    .deactive_nav
        transform: translateX(-100%)
        opacity: 0
    