#main_body
    .main_navbar
        ul  
            width: 100% 
            li 
                font-family: MarkPro
                font-size: 16px
                font-family: "MarkPro"
                color: rgb(26, 26, 26)
                text-transform: uppercase
                line-height: 1.875
                font-weight: 900
                cursor: pointer
                width: 100%
                &:hover
                    color: #83bc00