@import 'mixin'

#product
    .box_shadow
        background-color: rgb(242, 242, 242)
        min-width: 50%
        min-height: 130px
        cursor: pointer
        &:hover
            box-shadow: 0px 8px 30px 5px $shadow
    
    p
        @include text_style(16px, $font_familyMark, $color1 , 500, 1.2, -0.03em)

    
    





 
 
    