@import 'header'
@import 'main_body'




@media (min-width: 1200px) 
    .container
        max-width: 1173px

*
    font-family: 'MarkPro'
    transition: all  .3s ease  
body, html
    font-family: 'MarkPro'   
    
@font-face
    font-family: "MarkPro"
    src: url("font/MarkPro.otf")

@font-face
    font-family: "MarkPro",sans-serif
    src: url("font/MarkPro-Black.otf")

@font-face
    font-family: "MarkPro"
    src: url("font/MarkPro-Bold.otf")

//<<<<<<<<<<<< common class >>>>>>>>>>>>>  
.main_slider_div
    border-left: 5px solid rgb(131, 188, 0)
.main_h1
    font-size: 30px
    font-family: "MarkPro"
    text-transform: uppercase
    line-height: 1.1
    span
        color: rgb(131, 188, 0)
.one_b

.two_b
    color: rgb(131, 188, 0)
.three_b
    color: #08a4e7
.main_paragraph
    font-size: 22px
    font-family: "MarkPro"
    color: rgb(26, 26, 26)  
    line-height: 1.2    
    font-weight: 400
.smple_par
    font-size: 16px
    font-family: "MarkPro"
    color: rgb(51, 51, 51)
    line-height: 1.2



// *****************************************************************
a
    &:hover
        text-decoration: none!important


    // /   ===>>              reset css 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
    display: block

body
    line-height: 1

ol, ul
    list-style: none

blockquote, q
    quotes: none

blockquote:before, blockquote:after,
q:before, q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0

