@import 'mixin'
@import 'header'
@import 'main_body'
@import 'register'
@import 'location'
@import 'product'
@import 'login'
@import 'admin'
@import 'modal'


@import 'media'




@media (min-width: 1200px) 
    .container
        max-width: 1173px

*
    font-family: $font_familyMark
    transition: all  .3s ease  
    &:focus
        outline: none !important  
body, html
    font-family: $font_familyMark   
    

//<<<<<<<<<<<< common class >>>>>>>>>>>>>  
.main_slider_div
    border-left: 5px solid $greenA400
    .header_line
        border-bottom: 4px solid $greenA400
        width: 140px
        margin: 0 auto
            
.main_h1
    @include text_style(30px, $font_familyMark, black, 900, 1.1, -0.04em) 
    text-transform: uppercase
    span
        color: $greenA400
.one_b
    font-weight: 800
.two_b
    color: $greenA400
    font-weight: 800
.three_b
    font-weight: 800
    color: #08a4e7
.main_paragraph
    @include text_style(22px, $font_familyMark, $color1, 500, 1.2, -0.04em) 
.smple_par
    @include text_style(16px, $font_familyMark, $color2, 500, 1.2) 

#footer 
    p  
        @include text_style(14px, $font_familyMark, rgba(26, 26, 26, 0.902), 600, 1.2, -0.04em) 
.js_button
    @include text_style(18px, $font_familyMark, $greenA400, 600, 1, -0.04em) 
    border: 2px solid $greenA400
    border-radius: 5px
    width: 170px
    cursor: pointer
    background-color: white
    &:focus
        outline: none  
        box-shadow: 0 0
.active_button
    background-color: $greenA400
    color: white
 


// *****************************************************************
a
    &:hover
        text-decoration: none!important



    // /   ===>>              reset css 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
    display: block

body
    line-height: 1

ol, ul
    list-style: none

blockquote, q
    quotes: none

blockquote:before, blockquote:after,
q:before, q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0

