@import 'header'
@import 'main_body'






@media (min-width: 1200px) 
    .container
        max-width: 1173px

*
    font-family: 'MarkPro'
    transition: all  .3s ease  
body
    font-family: 'MarkPro'   
    
@font-face
    font-family: "MarkPro"
    src: url("font/MarkPro.otf")

@font-face
    font-family: "MarkPro",sans-serif
    src: url("font/MarkPro-Black.otf")

@font-face
    font-family: "MarkPro"
    src: url("font/MarkPro-Bold.otf")


// *****************************************************************
a
    &:hover
        text-decoration: none!important


    // /   ===>>              reset css 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
    display: block

body
    line-height: 1

ol, ul
    list-style: none

blockquote, q
    quotes: none

blockquote:before, blockquote:after,
q:before, q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0

